*{
    margin: 0;
    padding: 0;
    background-color:  #E5E5E5;
}
*::after, *::before{
    box-sizing: border-box;
}
.container{
    width: 1440px;
    height: 860px;
    position: relative;
    display: flex;
    margin: auto;
}



.image-text-section__image{
    width: 505px;
    height: auto;
    position: absolute;
    top: 96px;
    left: 230px;
    
}
.image-text-section__texts{
    position: absolute;
    width: 380px;
    height: auto;
    left: calc(50% - 380px/2 + 300px);
    top: calc(50% - 96px/2 - 222px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color:#121212;
}

.image-text-section__heading{
    width: 380px;
    height: 50px;
   
}


.image-text-section__button{
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;
    margin-top:32px;
    width: 128px;
    height: 48px;
    background: #E4C1AE;
    border-radius: 32px;
    cursor: pointer;
}

.popup{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition:200ms ease-in-out;
    z-index: 10;
    background-color: #fff;
    width: 920px;
    max-width: 80%;
    height: 210px;
}

.popup.active{
    transform: translate(-50%,-50%) scale(1);
}

.popup__heading{
    background: #fff;
    padding: 56px 0px 24px 95px;
}

.popup-close-button{
    padding: 46px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
}

.popup__span{
    
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup__content{
    padding-left: 95px;
    background-color: #fff;
}
.popup__content b, a{
    
    background-color: #fff;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}